<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/inputs.css ">
    <link rel="stylesheet" href="/buttons.css" >
    <link rel="stylesheet" href="/ønskeliste.css" >

    <link rel="stylesheet" href="/indexSide.css" >
    <link rel="stylesheet" href="/background.css" >
    <link rel="stylesheet" href="/create.css" >

    <meta charset="UTF-8">
    <title>Create WishList</title>
</head>
<body>
<a href="http://176.22.128.91/" style="position: fixed; top: 0; right: 0"> <button class="btn btn-2 btn-sep icon-cart"> Home</button> </a>

<div class="full-screen">
    <div>
        <div>
            <h1>Her kan du tilføje og fjerne ønsker fra listen</h1> <br>

            <div class="float-container">
                <h4 class="float-child"><span th:text="${login}"></span></h4>
                <h4 class="float-child"><span th:text="${password}"></span></h4>
            </div>

        </div>
    </div>
    <div class="float-container">
        <div class="float-child">
            <div class="table-wrapper">
                <form id="tilføjØnskeForm" action="/tilføjØnske" method="post">
                        <table class="fl-table">

                            <thead>
                                <tr>
                                    <th>Ønske</th>
                                    <th>Pris</th>
                                    <th>Link</th>
                                    <th>Evt note</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label for="ønske"></label>
                                        <input style="color: black" id="ønske" type="text" placeholder="Ønske" name="ønske" required>
                                </td>
                                <td><label for="pris"></label>
                                        <input style="color: black" id="pris"type="text" placeholder="Pris" name="pris">

                                </td>
                                <td><label for="link"></label>
                                        <input style="color: black" id="link"  type="text" placeholder="Link" name="link">
                                </td>
                                <td><label for="note"></label>
                                        <input style="color: black" id="note"type="text" placeholder="Evt note" name="note">
                                </td>
                                <td>
                                    <button class="btn btn-2 btn-sep icon-cart" id="sbmWish" type="submit">Tilføj ønske</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </form>
            </div>

        </div>

        <div class="float-child">
            <div class="table-wrapper">
                <table id="wishlist" class="fl-table">
                    <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Ønske</th>
                        <th>Pris</th>
                        <th>Link</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="wish : ${wish}">
                        <td th:text="${wishStat.index +1}"></td>
                        <td th:text="${wish.name}"></td>
                        <td th:text="${wish.price}"></td>
                        <td th:text="${wish.link}"></td>
                        <td th:text="${wish.note}"></td>
                        <td>
                            <form action="/deleteWish" method="post">
                                <input name="wish" type="text" style="display: none">
                                <input name="pris" type="text" style="display: none">
                                <input name="link" type="text" style="display: none">
                                <input name="note" type="text" style="display: none">
                                <button onmouseenter="makeForm(this)" type="submit"><img src="/RedX.png" height="20px"
                                                                                         width="20px"></button>
                            </form>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 1000px">

        <ul>
            <li>
                <form action="/deleteAllWishes" method="post">
                    <button class="btn btn-3 btn-sep icon-heart" type="submit">Fjern alle ønsker</button>
                </form>
            </li>
            <li>
                <form action="/deleteUser" method="post">
                    <button class="btn btn-3 btn-sep icon-heart" type="submit">Fjern bruger</button>
                </form>
            </li>
            <li>
                <form action="/logout">
                    <button class="btn btn-3 btn-sep icon-heart" type="submit">Logout</button>
                </form>
            </li>
            <li>
                <form action="/submitList" method="post">
                    <button class="btn btn-4 btn-sep icon-send" type="submit">Submit ønskeliste</button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>

<!-- JAVASCRIPT -->
<script>
    function makeForm(element) {

        element.parentNode.children.item(0).value = element.parentNode.parentNode.parentNode.children.item(1).textContent
        element.parentNode.children.item(1).value = element.parentNode.parentNode.parentNode.children.item(2).textContent
        element.parentNode.children.item(2).value = element.parentNode.parentNode.parentNode.children.item(3).textContent
        element.parentNode.children.item(3).value = element.parentNode.parentNode.parentNode.children.item(4).textContent
    }
</script>
</html>