<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/background.css">
    <meta charset="UTF-8">
    <title>dit password</title>
</head>
<body>
<a href="http://176.22.128.91/" style="position: fixed; top: 0; right: 0"> <button class="btn btn-2 btn-sep icon-cart"> Home</button> </a>

<div class="full-screen">
    <div style="width: 80%">
        <h1 style="margin-top: 10px" class="verdanaText">Tillykke <span th:text="${name}"></span>, du har lavet en online
            ønskeliste! <br>
            Hvis du ønsker at dele den med familie/venner skal du sende dem koden nedeunder</h1> <br>

        <h1 class="verdanaText">Din personlige kode er: <span th:text="${password}"></span></h1>
    </div>


    <div style="height: 1000px">
        <img src="/200.gif" height="600px" width="600px">
    </div>
</div>
</body>
</html>