<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReservedList</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/create.css">
    <link rel="stylesheet" href="/ønskeliste.css">
    <link rel="stylesheet" href="/background.css">
</head>
<body>
<a href="http://176.22.128.91/" style="position: fixed; top: 0; right: 0"> <button class="btn btn-2 btn-sep icon-cart"> Home</button> </a>

<div class="full-screen">
    <div>
        <h1 style="margin-top: 10px" class="verdanaText"><span th:text="${name}"></span>'s ønskeliste </h1>
    </div>
    <div style="width: 50%; align-self: center; height: 1000px">
        <div class="table-wrapper">
            <table id="wishlist" class="fl-table">
                <thead>
                <tr>
                    <th>Nr</th>
                    <th>Ønske</th>
                    <th>Pris</th>
                    <th>Link</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="wish : ${wish}">
                    <td th:text="${wishStat.index + 1}"></td>
                    <td id="id" th:text="${wish.name}"></td>
                    <td th:text="${wish.price}"></td>
                    <td th:text="${wish.link}"></td>
                    <td th:text="${wish.note}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>